@font-face
.dotgothic16-regular{
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #50C878;
    background-image: url("background00.jpg");
}
.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: rgba(60, 60, 60, 0.678);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
img {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    size: 10em;
}
h1, h2 {
    text-align: center;
}
p {
    text-align: center;
    padding: 0 20px;
}
.links {
    text-align: center;
    margin: 20px 0;
}
.links a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    background: #333;
    padding: 10px 20px;
    border-radius: 5px;
}
.graphic {
    text-align: center;
    margin: 40px 0;
}
.form-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.form-container label {
    display: block;
    margin: 15px 0 5px;
}
.form-container input, .form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
footer {
    text-align: center;
    margin: 20px 0;
}
/*background: url('bachground00.jpg') no-repeat center center fixed;
background-size: cover;*/
/*Hamster in a wheel animation */
.wheel_n_hamster{
  --dur: 1s;
  position relative;
  width: 12em;
  height: 12em;
  font-size: 14px; 
  margin: auto;
  margin-top: 20px; 
}
.wheel,
.hamster,
.hamster div, 
.spoke{position: absolute;}
.wheel,
.spoke{
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wheel{
  background: radial-gradient(100% 100% at center, hsla (0%, 0%, 60%, 0) 47.8%, hsl(0, 0%, 60% )48%);
  z-index: 2; 
} 
.hamster{
  animation: hamster var(--dur) ease-in-out infinite; 
  top: 50%;
  left: calc(50% -3.5em);
  width: 7em; 
  weight: 3.7em;
  transform: rotate(4deg) translate(-0.8em, 1.85em); 
  transform-origin: 50% 0;
  z-index: 1;
}
.hamster_head{
    animation: hamsterHead var(--dur) ease-in-out infinite; 
    background: hsl(30% 90% 55%);
    border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
    /*border-shadow: 0 -0,25em 0 hsl ( 30, 90%, 80%) inset;
                  0.75em -1.55em 0 hsl(( 30, 90%, 80%) inset;*/
    top: 0%;
    left: -2em;
    width: 2.75em; 
    height: 2.5em;
    transform: 100% 50%; 
}
.hamster_ear{
   animation: hamsterEar var(--dur) ease-in-out infinite; 
    background: hsl(0% 90% 85%);
    border-radius: 50%;
    border-shadow: -0,25em 0 hsl( 30, 90%, 80%) inset;
    top:-0.25em;
    right: -0.25em;
    width: 0.75em; 
    height: 0.75em;
    transform-origin: 50% 75%; 
}
.hamster_eye{
   animation: hamsterEye var(--dur) linear infinite; 
    background: hsl(0% 0% 0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1,25em;
    width: 0.5em; 
    height: 0.5em; 
}
.hamster_nose{
    background: hsl(0% 0% 0%);
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.75em;
    left: 0;
    width: 0.2em; 
    height: 0.25em; 
}
.hamster_body{
   animation: hamsterBody var(--dur) ease-in-out infinite; 
    background: hsl(30% 90% 90%);
    border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
    /*border-shadow: 0.1em 0.75em 0 hsl( 30, 90%, 55%) inset;
                  0.15em -0.5em 0 hsl( 30, 90%, 80%) inset;*/
    top: 0.25em;
    left: 2em;
    width: 4.5em; 
    height: 3em;
    transform-origin: 17% 50%;
    trasfirm-style: preserve-3d; 
}
.hamster_limb--fr;
.hamster_limb--fl;{
  clip-path: polygon(0 0,100% 0, 70% 80%, 60% 100%,0% 100%, 40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em; 
  height: 1.5me;
  trasform-origin: 50% 0;
}
.hamster_limb--fr{
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hls(30%, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}
.hamster_limb--fl{
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hls(30%, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
  transform: rotate(15deg);
}
.hamster_limb--br,
.hamster_limb--bl{
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0,100% 0, 100% 30%, 70% 90%,70% 100%, 30% 100%, 40% 90%, 0 30%);
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}
.hamster_limb--br{
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%,80%) 90%, hsl(0, 90%, 75%));
  transform: rotate(-25deg) translateZ(-1px);
}
.hamster_limg--bl{
  animation: hamsterBLLimb var (--dur) linear inifinite;
  background: hsl(0,90%,85%);
  /*border-radious: 0.25em 50% 50% 0.25em;
  box-shaodw: 0 -0.25em 0 hsl(0,90%,75%) inset;*/
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  translate-origin: 0.25em 0 0.25em;
}
.spoke{
  animation: spote var(--dur) linear infinite;
  background: radial-gradient(100% 100% at center, hsl(0,0%,60%) 4.8% hsla(0,0%,60%,0) 5%), linear gradient(hsla(0,0%,55%,0) 46.9% hsl(0,0%,65%) 47% 52.9%, hsla(0,0%,65%,0) 53%) 50% 50%/ 99% 99% no-repeat;  
}
/*Here the animation */
@keyfremes hamster{
  from, to{
     transform: rotate(4deg) translate(-0.8em, 1.85em);
  }
  50%{
   transform: rotate(0deg) translate(-0.8em, 1.85em);
    }
}
@keyfremes hamsterHead{
  from, 25%, 50%, 75% to{
     transform: rotate(0);
  }
  12,5%, 37.5%, 62.5%,87.5%{
   transform: rotate(8deg);
    }
}
@keyfremes hamsterEye{;
  from, 90%, to{
     transform: scaleY(1);
  }
  95%{
   transform: scaleY(0);
    }
}
@keyfremes hamsterEar{
  from, 25%, 50%, 75%, to{
     transform: rotate(0);
  }
  12.5%, 37.5%, 62.5%, 87.5%{
   transform: rotate(12deg);
    }
}
@keyfremes hamsterBody{
    from, 25%, 50%, 75%, to{
     transform: rotate(0);
  }
  12.5%, 37.5%, 62.5%, 87.5%{
   transform: rotate(-2deg);
    }
}
@keyfremes hamsterFRLimb{
    from, 25%, 50%, 75%, to{
     transform: rotate(50deg) translateZ(-1px);
  }
  12.5%, 37.5%, 62.5%, 87.5%{
   transform: rotate(-30deg) translateZ(-1px);
    }
}
@keyfremes hamsterFLLimb{
    from, 25%, 50%, 75%, to{
     transform: rotate(-30deg);
  }
  12.5%, 37.5%, 62.5%, 87.5%{
   transform: rotate(50deg);
    }
}
@keyfremes hamsterBRLimb{
    from, 25%, 50%, 75%, to{
     transform: rotate(-60deg) translateZ(-1px);
  }
  12.5%, 37.5%, 62.5%, 87.5%{
   transform: rotate(20deg) translateZ(-1px);
    }
}
@keyfremes hamsterBLLimb{
    from, 25%, 50%, 75%, to{
     transform: rotate(20deg);
  }
  12.5%, 37.5%, 62.5%, 87.5%{
   transform: rotate(-60deg);
    }
}
@keyfremes hamsterTail{
    from, 25%, 50%, 75%, to{
     transform: rotate(30deg) translateZ(-1px);
  }
  12.5%, 37.5%, 62.5%, 87.5%{
   transform: rotate(10deg);
    }
}
@keyfremes spoke{
    from {
     transform: rotate(0);
  }
 to {
   transform: rotate(-1turn);
    }
}






