@font-face
.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: rgba(60, 60, 60, 0.678);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
img {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    size: 10em;
}
h1, h2 {
    text-align: center;
}
p {
    text-align: center;
    padding: 0 20px;
}
.links {
    text-align: center;
    margin: 20px 0;
}
.links a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    background: #333;
    padding: 10px 20px;
    border-radius: 5px;
}
.graphic {
    text-align: center;
    margin: 40px 0;
}
.form-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.form-container label {
    display: block;
    margin: 15px 0 5px;
}
.form-container input, .form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
footer {
    text-align: center;
    margin: 20px 0;
}
background: url('bachground00.jpg') no-repeat center center fixed;
background-size: cover;
/*Hamster in a wheel animation */
.wheel_n_hamster{
  --dur: 1s;
  position relative;
  width: 12em;
  weight: 12em;
  font-size: 14px; 
  margin: auto;
  margin-top: 20px; 
}
.wheel
.hamster
.hamster div 
.spoke{position: absolute;}
.spoke{
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  weight: 100%;
}
.wheel{
  background: radial-gradient{100% 100% at center, hsla (0% 0%, 60% 0) 47.8%, hsl(0 0%, 60% 48%)};
  z-index: 2; 
} 
.hamster{
  animation hamster var(--dur) ese-in-out infinite; 
  top: 50%;
  left: calc(50% -3.5em);
  width: 7em; 
  weight: 3.7em;
  transform: rotate(4deg) translate(-0.8em, 1.85em); 
  transform-origin: 50% 0;
}
.hamster_head{
    animation hamster var(--dur) ese-in-out infinite; 
    background: hsl (30% 90% 55%);
    border-radius: 70% 30% 0 100% 40% 25% 25% 60%;
    border-shadow: 0 -0,25em 0 hsl ( 30, 90%, 80%) inset;
    top: 50%;
    left: -2em;
    width: 2.5em; 
    
    transform: 100% 50%; 

}
